{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block main %}

{% if user.is_authenticated %}
 <p>You're logged in. Log out.</p>
{% else %}
<h1>Log in</h1>

{% if form.errors %}
<p class="error">Please correct the errors below: {{ form.errors }}</p>
{% endif %}

<form method="post" action="?next={{ next|default:'/' }}">{% csrf_token %}
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
</dl>
<br>
<input type="submit" value="Log in" />
</form>
<p>If you don't have an account, you can <a href="/users/register/">sign
up</a> for one.
{% endif %}
{% endblock %}
