{% extends "base.html" %}

{% block main %}
  <h1>Bottle Collection</h1>
  {% if bottles_list %}
  <a href="/bottles/">Sort by type.</a>
  <table>
  {% for m in mfg_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ m }}_box" type="checkbox" />
            <label for="{{ m }}_box">{{ m }}</label>
            <article class="ac-small">
            <ul>
            {% for b in bottles_list %}
              {% if b.mfg == m %}
                <li>{{ b.liquor }} ({{ b.typ }})</li>
              {% endif %}
            {% endfor %}
            </ul>
            </article>
          </div>
        </section>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>You have no bottle of alcohol. Oh the humanity!</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <!--<a href="{% url 'admin:recipes_recipes_add' %}">Add a recipe.</a>-->
  <a href="/dashboard/bottles/bottle/add/">Add a bottle.</a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Bottle List</h4>
      <p>A list of types of alcohol in your inventory.</p>
    </div>
  </div>
{% endblock %}
