{% extends "base.html" %}

{% block main %}
  <h1>Bottle Collection</h1>
  {% if bottles_list and type_list and type_amounts %}
  <a href="/bottles/sort_by_mfg/"><button>Sort by manufacturer.</button></a>
  <br><br>
  <table>
  {% for t in type_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ t }}_box" type="checkbox" />
            {% for typ, amt in type_amounts.items %}
              {% if t == typ %}
                <label for="{{ t }}_box">{{ t }} ({{ amt }} ml)</label>
              {% endif %}
            {% endfor %}
            <article class="ac-small">
            <ul>
            {% for b in bottles_list %}
              {% if b.typ == t %}
                <li>{{ b.mfg }} {{ b.liquor }} - {{ b.amount }}</li>
              {% endif %}
            {% endfor %}
            </ul>
            </article>
          </div>
        </section>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>You have no bottles of alcohol. Oh the humanity!</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <a href="/dashboard/bottles/bottle/add/"><button>Add a bottle.</button></a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Bottle List</h4>
      {% if bottles_list and type_list and type_amounts and highest %}
        <p>You have {{ bottles_list|length }} bottles in your inventory.</p>
        <p>You have {{ type_list|length }} different types of alcohol in your inventory.</p>
        <p>You have {{ mfg_list|length }} different brands of alcohol in your inventory.</p>
        <p>The {{ highest.0 }} is not gone (you have {{ highest.1 }} ml of it).</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
