{% extends "base.html" %}

{% block main %}
  <h1>Bottle Collection</h1>
  {% if bottles_list %}
  <a href="/bottles/sort_by_mfg/">Sort by manufacturer.</a>
  <table>
  {% for t in type_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ t }}_box" type="checkbox" />
            <label for="{{ t }}_box">{{ t }}</label>
            <article class="ac-small">
            <ul>
            {% for b in bottles_list %}
              {% if b.typ == t %}
                <li>{{ b.mfg }} {{ b.liquor }}</li>
              {% endif %}
            {% endfor %}
            </ul>
            </article>
          </div>
        </section>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>You have no bottles of alcohol. Oh the humanity!</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <a href="/dashboard/bottles/bottle/add/">Add a bottle.</a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Bottle List</h4>
      <p>A list of types of alcohol in your inventory.</p>
    </div>
  </div>
{% endblock %}
