container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python drinkz_project/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python drinkz_project/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python drinkz_project/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "drinkz_project.settings_production"
    "PYTHONPATH": "/opt/python/current/app/drinkz_project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: drinkz_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"