{% extends "base.html" %}

{% block main %}
<!--<h1>Add a recipe:</h1>
<form action="recipes_add">
Recipe name: <input type="text" name="name"><p>
Ingredients: (type, amount) on each line --
<br>
<textarea name="ingredients" cols=40 rows=3></textarea>
<input type="submit">
</form>-->

<form action="/recipes/add_recipe/" method="post">
{% csrf_token %}
<table>
{{ recipe_add.as_table }}
</table>
<div class="actions-bar wat-cf">
  <!--<a href="{% url 'admin:recipes_recipes_add' %}">Add a recipe.</a>-->
  <a href="/recipes/add_ingredient">Add an ingredient.</a>
</div>
<input type="submit" value="Add" />
</form>
{% endblock %}
