{% extends "base.html" %}

{% block main %}
  <h1>Bottle Collection</h1>
  {% if bottles_list %}
  <table>
  {% for b in bottles_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ b.class_name }}" type="checkbox" />
            <label for="{{ b.class_name }}">{{ b.mfg }} {{ b.liquor }}</label>
            <article class="ac-small">
            </article>
          </div>
        </section>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>There doesn't seem to be any bottles.</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <!--<a href="{% url 'admin:recipes_recipes_add' %}">Add a recipe.</a>-->
  <a href="/recipes/dashboard/recipes/recipes/add/">Add a bottle.</a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Bottle List</h4>
      <p>A list of types of alcohol in your inventory.</p>
    </div>
  </div>
{% endblock %}
