{% extends "base.html" %}

{% block head %}
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
         $('.drink_rating').each(function(index){
          $(this).raty({
            readOnly:  false,
            path: "/static/img/",
            cancel: false,
            start: $(this).children("span:first").text(),
            click: function(score, evt) {
                var vote_url = "rate/" + this.attr('id').substring(2) + "/" + score + "/";
                $.ajax({
                  url: vote_url,
                  success: function(){
                    //alert('vote successful');
                  }
                });
            }
          });
        });
    });
  </script>

{% endblock %}

{% block main %}
  {% load mathfilters %}
  <h1>Recipe Collection</h1>
  {% if recipes_list %}
  <a href="/recipes/sort_by_rating/">Sort by average rating.</a>
  <table>
  {% for r in recipes_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ r.class_name }}" type="checkbox" />
            <label for="{{ r.class_name }}">{{ r.name }}</label>
            <article class="ac-small">
            <ul>
            {% for i in r.ingredient_list %}
              <li>{{ i.part }}, {{ i.amount }}</li>
            {% endfor %}
            {% if ingredients_needed %}
              {% for i in ingredients_needed %}
                {% if i.0 == r.name %}
                  <p><font color="red">You need {{ i.2 }} ml of {{ i.1 }} to make this recipe.</font></p>
                {% endif %} 
              {% endfor %}
            {% endif %} 
            </ul>
            </article>
          </div>
        </section>
    </td>
    <td>
      <div class="drink_rating" id="t_{{ r.id }}">
        <span style="display:none;">
          {% load ratings %}
          {% if user.is_authenticated %}
          {% rating_by_user user on r.rating as vote %}
          {{ vote }}
          {% endif %}
        </span>
      </div>      
    </td>
    <td>
      <div>
      <p>
        <i>Average rating: {{ r.rating.score|div:r.rating.votes }}/5</i>
      </p>
      </div>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>There doesn't seem to be any recipes.</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <a href="/dashboard/recipes/recipes/add/">Add a recipe.</a>
  <a href="/dashboard/recipes/ingredient/add/">Add an ingredient.</a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Mixable Recipes</h4>
      {% if mixable_recs %}
        <p><font size="2">You have the ingredients to make the following recipes:</font></p>
        {% for rec in mixable_recs %}
          <p>-- <label for="{{ rec.class_name }}">{{ rec.name }}</label></p>
        {% endfor %}
      {% else %}
        <p>You can't make any recipes. Time to stock up!</p>
      {% endif %}
      <h4>Almost Mixable Recipes</h4>
      {% if partial_recs %}
        <p><font size="2">You have one ingredient or part of an ingredient for the following recipes:</font></p>
        {% for recipe in partial_recs %}
          <p>-- <label for="{{ recipe.class_name }}">{{ recipe.name }}</label></p>
        {% endfor %}
      {% else %}
        <p>You don't have any partial ingredients for a recipe!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
