{% extends "base.html" %}

{% block head %}
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
         $('.drink_rating').each(function(index){
          $(this).raty({
            readOnly:  false,
            path: "/static/img/",
            start: $(this).children("span:first").text(),
            click: function(score, evt) {
                var vote_url = "rate/" + this.attr('id').substring(2) + "/" + score + "/";
                $.ajax({
                  url: vote_url,
                  success: function(){
                    //alert('vote successful');
                  }
                });
            }
          });
        });
    });
  </script>

{% endblock %}

{% block main %}
  <h1>Recipe Collection</h1>
  {% if recipes_list %}
  <table>
  {% for r in recipes_list %}
  <tr>
    <td>
        <section class="ac-container">
          <div>
            <input id="{{ r.class_name }}" type="checkbox" />
            <label for="{{ r.class_name }}">{{r.name}}</label>
            <article class="ac-small">
            <ul>
            {% for i in r.ingredient_list%}
              <li>{{i.part}}, {{i.amount}}</li>
            {% endfor %}
            </ul>
            </article>
          </div>
        </section>
    </td>
    <td><div class="drink_rating" id="t_{{ r.id }}"><span style="display:none;">{{ r.rating.score }}</span></div></td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>There doesn't seem to be any recipes.</p>
  {% endif %}

  <div class="actions-bar wat-cf">
  <!--<a href="{% url 'admin:recipes_recipes_add' %}">Add a recipe.</a>-->
  <a href="/recipes/dashboard/recipes/recipes/add/">Add a recipe.</a>
  <a href="/recipes/dashboard/recipes/ingredient/add/">Add an ingredient.</a>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
    <div class="sidebar-block">
      <h4>Recipe List</h4>
      <p>Recipes with ratings.</p>
    </div>
  </div>
{% endblock %}
