/* LOGIN FORM */

#content-main {
    float: none;
}

.login #content-main {
    width: 250px;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
}

.login .form-row label {
    float: left;
    width: 5em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: left;
    font-size: 1em;
    color: #333;
}

.login .submit-row {
    clear: both;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}

.login .password-reset-link {
    text-align: center;
}
